n8n-workflow-daily-report.json
{
  "name": "Elyasr Daily Report → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 10 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Setiap Hari 17:30 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://operation-ops.jva2rz.easypanel.host/api/report/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "elyasr-report-key",
          "name": "Elyasr Report API Key"
        }
      },
      "id": "fetch-report",
      "name": "Ambil Data Harian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format angka ke Rupiah\nfunction fmt(n) {\n  const num = Number(n) || 0;\n  return new Intl.NumberFormat('id-ID', {\n    style: 'currency',\n    currency: 'IDR',\n    maximumFractionDigits: 0\n  }).format(num);\n}\n\nfunction fmtDiff(val, pct) {\n  if (val === null || val === undefined) return '—';\n  const num = Number(val) || 0;\n  const arrow = num >= 0 ? '↑' : '↓';\n  const sign  = num >= 0 ? '+' : '';\n  const pctStr = pct !== null && pct !== undefined ? ` (${sign}${pct}%)` : '';\n  return `${arrow} ${sign}${fmt(Math.abs(num))}${pctStr}`;\n}\n\n// Ambil data — defensive null check\n// API returns: { success: true, data: { date, summary, comparison, platforms, stokKritis, aging } }\nconst raw = $input.item.json;\n\n// Debug: jika API error, tampilkan di pesan\nif (raw?.success === false) {\n  return [{ json: { message: `⚠️ API Error: ${raw.error || 'Unknown error'}` } }];\n}\n\nconst d = raw?.data || raw || {};\nconst s = d.summary || {};\nconst c = d.comparison || {};\nconst platforms = Array.isArray(d.platforms) ? d.platforms : [];\nconst aging = d.aging || { total: 0, detail: {} };\n\n// Baris platform\nconst platformLines = platforms.length > 0\n  ? platforms.map(p => `├ ${(p.platform || 'Unknown').padEnd(8)} : ${fmt(p.omzet)} (${p.count || 0} order)`).join('\\n')\n  : '├ Tidak ada data platform';\n\n// Aging backlog\nconst agingDetail = aging.detail || {};\nconst agingStr = Object.keys(agingDetail).length > 0\n  ? Object.entries(agingDetail).map(([k, v]) => `├ ${k}: ${v}`).join('\\n')\n  : '├ Tidak ada';\n\n// Tanggal dalam format Indonesia\nconst dateStr = d.date || new Date().toISOString().slice(0, 10);\nconst tgl = new Date(dateStr + 'T00:00:00+07:00').toLocaleDateString('id-ID', {\n  weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n});\n\nconst omzet = Number(s.omzet) || 0;\nconst hpp   = Number(s.hpp) || 0;\nconst gp    = Number(s.grossProfit) || 0;\nconst margin = omzet > 0 ? ((gp / omzet) * 100).toFixed(1) : '0';\n\n// Comparison vs kemarin\nconst prevOmzet = Number(c.prevOmzet) || 0;\nconst omzetDiff = Number(c.omzetDiff) || 0;\nconst omzetDiffPct = c.omzetDiffPct;\nconst orderCountDiff = Number(c.orderCountDiff) || 0;\n\nconst omzetCompare = prevOmzet > 0\n  ? `${omzetDiff >= 0 ? '↑' : '↓'} ${fmt(Math.abs(omzetDiff))}${omzetDiffPct ? ` (${omzetDiff >= 0 ? '+' : ''}${omzetDiffPct}%)` : ''}`\n  : '—';\nconst orderCompare = `${orderCountDiff >= 0 ? '↑' : '↓'} ${Math.abs(orderCountDiff)} order`;\n\nconst msg = [\n  `📊 *LAPORAN HARIAN ELYASR*`,\n  `${tgl} — 17.30 WIB`,\n  ``,\n  `💰 *OMZET & PROFIT (Hari Ini)*`,\n  `├ Real Omzet    : ${fmt(s.omzet)}`,\n  `├ HPP Total     : ${fmt(s.hpp)}`,\n  `└ Gross Profit  : ${fmt(s.grossProfit)} (${margin}%)`,\n  ``,\n  `📦 *ORDER*`,\n  `├ Total Masuk  : ${s.totalOrder || 0} order`,\n  `├ Terkirim     : ${s.terkirim || 0} order`,\n  `├ Pending Kirim: ${s.perluKirim || 0} order`,\n  `└ Dibatalkan   : ${s.batal || 0} order`,\n  ``,\n  `🏪 *PER PLATFORM*`,\n  platformLines,\n  ``,\n  `😡 *AGING BACKLOG* (${aging.total || 0} order pending)`,\n  agingStr,\n  ``,\n  `🔥 *STOK KRITIS*: ${d.stokKritis || 0} SKU perlu restock`,\n  ``,\n  `📈 *VS KEMARIN*`,\n  `├ Omzet  : ${omzetCompare}`,\n  `└ Order  : ${orderCompare}`,\n  ``,\n  `_This message was sent automatically with n8n_`\n].join('\\n');\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "format-message",
      "name": "Format Pesan Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "GANTI_DENGAN_CHAT_ID_TELEGRAM_KAMU",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Elyasr Telegram Bot"
        }
      },
      "id": "send-telegram",
      "name": "Kirim ke Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Setiap Hari 17:30 WIB": {
      "main": [[{ "node": "Ambil Data Harian", "type": "main", "index": 0 }]]
    },
    "Ambil Data Harian": {
      "main": [[{ "node": "Format Pesan Telegram", "type": "main", "index": 0 }]]
    },
    "Format Pesan Telegram": {
      "main": [[{ "node": "Kirim ke Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": ["elyasr", "report", "telegram"]
}
