n8n-workflow-daily-report.json
{
  "name": "Elyasr Daily Report → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 10 * * *"
            }
          ]
        }
      },
      "id": "trigger-schedule",
      "name": "Setiap Hari 17:30 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://operation-ops.jva2rz.easypanel.host/api/report/daily",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": false,
        "options": {
          "response": {
            "response": {
              "fullResponse": false
            }
          },
          "timeout": 30000
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "elyasr-report-key",
          "name": "Elyasr Report API Key"
        }
      },
      "id": "fetch-report",
      "name": "Ambil Data Harian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// n8n Code Node v2 — format laporan harian untuk Telegram\n\nfunction fmt(n) {\n  const num = Number(n) || 0;\n  return 'Rp ' + num.toLocaleString('id-ID');\n}\n\n// Ambil item pertama dari input\nconst items = $input.all();\nconst raw = items[0]?.json || {};\n\n// Jika API error atau response kosong\nif (!raw || Object.keys(raw).length === 0) {\n  return [{ json: { message: '⚠️ API returned empty response' } }];\n}\n\nif (raw.success === false) {\n  return [{ json: { message: '⚠️ API Error: ' + (raw.error || 'Unknown') } }];\n}\n\n// Extract data — handle both {success,data} wrapper and direct data\nconst d = raw.data || raw;\nconst s = d.summary || {};\nconst c = d.comparison || {};\nconst platforms = Array.isArray(d.platforms) ? d.platforms : [];\nconst aging = d.aging || { total: 0, detail: {} };\nconst debug = d._debug || {};\n\n// Platform lines\nlet platformLines = '├ Tidak ada data platform';\nif (platforms.length > 0) {\n  platformLines = platforms.map(function(p) {\n    return '├ ' + (p.platform || 'Unknown') + ' : ' + fmt(p.omzet) + ' (' + (p.count || 0) + ' order)';\n  }).join('\\n');\n}\n\n// Aging backlog\nconst agingDetail = aging.detail || {};\nlet agingStr = '├ Tidak ada';\nconst agingKeys = Object.keys(agingDetail);\nif (agingKeys.length > 0) {\n  agingStr = agingKeys.map(function(k) {\n    return '├ ' + k + ': ' + agingDetail[k];\n  }).join('\\n');\n}\n\n// Tanggal\nconst dateStr = d.date || new Date().toISOString().slice(0, 10);\nlet tgl = dateStr;\ntry {\n  tgl = new Date(dateStr + 'T00:00:00+07:00').toLocaleDateString('id-ID', {\n    weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'\n  });\n} catch(e) { /* fallback to dateStr */ }\n\nconst omzet = Number(s.omzet) || 0;\nconst hpp = Number(s.hpp) || 0;\nconst gp = Number(s.grossProfit) || 0;\nconst margin = omzet > 0 ? ((gp / omzet) * 100).toFixed(1) : '0';\n\n// Comparison\nconst prevOmzet = Number(c.prevOmzet) || 0;\nconst omzetDiff = Number(c.omzetDiff) || 0;\nconst omzetDiffPct = c.omzetDiffPct;\nconst orderCountDiff = Number(c.orderCountDiff) || 0;\n\nlet omzetCompare = '—';\nif (prevOmzet > 0) {\n  const arrow = omzetDiff >= 0 ? '↑' : '↓';\n  const pctPart = omzetDiffPct ? ' (' + (omzetDiff >= 0 ? '+' : '') + omzetDiffPct + '%)' : '';\n  omzetCompare = arrow + ' ' + fmt(Math.abs(omzetDiff)) + pctPart;\n}\nconst orderArrow = orderCountDiff >= 0 ? '↑' : '↓';\nconst orderCompare = orderArrow + ' ' + Math.abs(orderCountDiff) + ' order';\n\n// Build message\nconst lines = [];\nlines.push('📊 LAPORAN HARIAN ELYASR');\nlines.push(tgl + ' — 17.30 WIB');\nlines.push('');\nlines.push('💰 OMZET & PROFIT (Hari Ini)');\nlines.push('├ Real Omzet    : ' + fmt(s.omzet));\nlines.push('├ HPP Total     : ' + fmt(s.hpp));\nlines.push('└ Gross Profit  : ' + fmt(s.grossProfit) + ' (' + margin + '%)');\nlines.push('');\nlines.push('📦 ORDER');\nlines.push('├ Total Masuk  : ' + (s.totalOrder || 0) + ' order');\nlines.push('├ Terkirim     : ' + (s.terkirim || 0) + ' order');\nlines.push('├ Pending Kirim: ' + (s.perluKirim || 0) + ' order');\nlines.push('└ Dibatalkan   : ' + (s.batal || 0) + ' order');\nlines.push('');\nlines.push('🏪 PER PLATFORM');\nlines.push(platformLines);\nlines.push('');\nlines.push('😡 AGING BACKLOG (' + (aging.total || 0) + ' order pending)');\nlines.push(agingStr);\nlines.push('');\nlines.push('🔥 STOK KRITIS: ' + (d.stokKritis || 0) + ' SKU perlu restock');\nlines.push('');\nlines.push('📈 VS KEMARIN');\nlines.push('├ Omzet  : ' + omzetCompare);\nlines.push('└ Order  : ' + orderCompare);\nlines.push('');\n// Debug info (hapus setelah fix)\nif (d._error) {\n  lines.push('⚠️ SQL ERROR: ' + d._error);\n  lines.push('');\n}\nif (debug.gteStr || debug.dateFrom) {\n  lines.push('🔧 DEBUG:');\n  lines.push('├ dateFrom: ' + (debug.dateFrom || debug.gteStr));\n  lines.push('├ gte: ' + (debug.gteDate || debug.lteStr));\n  lines.push('├ lte: ' + (debug.lteDate || ''));\n  lines.push('├ rows: ' + (debug.todayOrdersRows || debug.todayOrdersRaw || 0));\n  lines.push('└ platforms: ' + (debug.platformRows || debug.platformsRaw || 0));\n  lines.push('');\n}\nlines.push('This message was sent automatically with n8n');\n\nconst message = lines.join('\\n');\n\nreturn [{ json: { message: message } }];"
      },
      "id": "format-message",
      "name": "Format Pesan Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "GANTI_DENGAN_CHAT_ID_TELEGRAM_KAMU",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Elyasr Telegram Bot"
        }
      },
      "id": "send-telegram",
      "name": "Kirim ke Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Setiap Hari 17:30 WIB": {
      "main": [
        [
          {
            "node": "Ambil Data Harian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Data Harian": {
      "main": [
        [
          {
            "node": "Format Pesan Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Pesan Telegram": {
      "main": [
        [
          {
            "node": "Kirim ke Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    "elyasr",
    "report",
    "telegram"
  ]
}